.navbar{
    background: linear-gradient(to right, #0000ff, #ff0000)!important;
}

.navbar-brand img{
    width: 75px;
    height: 75px;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: limegreen !important;
}
