<footer>
  <div class="text-center p-3 bg-dark text-white fixed-bottom">
    <div class="container-fluid d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div class="mb-2 mb-md-0">
        © 2024 Sports Event Calendar
      </div>

      <div class="d-flex align-items-center mb-2 mb-md-0">
        <span>Made with </span>
        <a href="https://angular.dev/" target="_blank" class="text-white mx-2">
          <i class="fab fa-angular"></i>
        </a> 
        <span> and </span>
        <a href="https://getbootstrap.com/" target="_blank" class="text-white mx-2">
          <i class="fab fa-bootstrap"></i>
        </a> 
      </div>

      <div class="d-flex">
        <a href="https://github.com/ddyankov28" target="_blank" class="text-white me-3">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/ddyankov23/" target="_blank" class="text-white me-3">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.instagram.com/deyandyankov23/" target="_blank" class="text-white me-3">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
