footer {
  margin-top: auto; /* Push the footer to the bottom when content doesn't fill the page */
  padding: 15px 0;
  background: linear-gradient(to right, blue, red);
  color: white;
}

footer .fab {
    font-size: 2rem;
    transition: transform 0.3s;
  }
  
  footer .fab:hover {
    transform: scale(1.5);
  }
