footer {
  margin-top: auto;
  padding: 15px 15px;
  background: linear-gradient(to right, blue, red);
  color: white;
}

footer .fab {
    font-size: 2rem;
    transition: transform 0.3s;
  }
  
  footer .fab:hover {
    transform: scale(1.5);
  }
