<div class="about-me-container">
  <div class="about-me-header text-center">
    <h1>About Me</h1>
  </div>

  <div class="about-me-content d-flex flex-column align-items-center">
    <div class="about-me-photo-container">
      <img src="assets/images/my-photo.jpeg" alt="My Photo" class="about-me-photo">
    </div>
    <div class="about-me-info mt-4 text-center">
      <h3>Hello! I'm Deyan</h3>
      <p>
        Born and raised in Bulgaria, I moved to Austria in 2013. I am a former football player, but after sustaining serious injuries, 
        I made a drastic career change and started learning programming at the international programming school 42 Vienna.
        Always striving for personal growth, I successfully completed the program and have since worked on several projects, focusing mainly on backend development. 
        Additionally, I have collaborated on various team projects, further strengthening my ability to work together and solve problems.
      </p>          
      <p>
        In my free time, I enjoy sports, and I'm always looking for new challenges and opportunities to learn and grow in the tech industry.
      </p>
    </div>
  </div>
</div>
