<div class="calendar">
  <div class="calendar-header d-flex align-items-center justify-content-center">
    <button class="btn btn-link" (click)="changeMonth(-1)">&#9664;</button>
    <h2 class="mb-0 mx-3 flex-grow-1 text-center">{{ currentMonth }} {{ currentYear }}</h2>
    <button class="btn btn-link" (click)="changeMonth(1)">&#9654;</button>
  </div>
    <table>
      <thead>
        <tr>
          <th *ngFor="let day of daysOfWeek">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of getCalendarWeeks()">
          <td *ngFor="let day of week" [ngClass]="{'current-day': isCurrentDay(day)}">
            <div class="day-cell">
              <span *ngIf="day">{{ day }}</span>
              <div *ngIf="hasEvent(day)" class="event-marker">
                <!-- Displaying a single marker for the day -->
                <span (click)="goToEventDetail(day)" class="event-icon">
                  <i class="bi bi-calendar-check"></i>
                </span>
              </div>              
            </div>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  