.calendar {
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: 76px auto;
  }

.calendar-header {
  align-items: center;
  margin-bottom: 60px;
}

table {
  width: 100%;
}

th, td {
  border: 2px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  height: 70px;
  width: 14%;
}

td span {
  display: block;
}

.btn{
  font-size: 2rem;
  color: inherit;
}

.current-day {
  background: linear-gradient(to right, blue, red);
  color: white;
}

.day-cell {
  position: relative;
  text-align: center;
}

.event-marker {
  position: absolute;
  top: 0;
  right: 0;
  animation: blink 1s infinite;
  cursor: pointer;  
}

@media (max-width: 768px) {
  .event-marker {
    top: 0;
    right: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
